

.h2{
  border-bottom: none !important;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 0;
}

.card-row {
  display: grid !important;
  grid-template-columns: 1fr 1fr; /* 항상 반반 */
  grid-template-areas: "img text";
  gap: 1.5rem;
    align-items: center;   /* 세로 중앙 정렬 */
  background: #fafbfc;
  border: 1px solid; /* 테두리 두께와 기본 선 스타일 */
  border-radius: 0.5rem;
  border-color: #CDD8E1;
  /*box-shadow: 0 2px 8px rgba(0,0,0,0.06);*/
  padding: 1.5rem;
  transition: box-shadow 0.2s;
}

.card-row:hover {
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
}

/* 카드 안 요소별 영역 지정 */
.card-text { grid-area: text; }
.card-img { grid-area: img; }

/* 두 번째 카드 (데스크탑 기준: text | img) */
.card-row.alt {
  grid-template-areas: "text img";
}

/* 요소별 영역 지정 */
.card-img {
  grid-area: img;
  width: 100%;
  height: 100%;
  object-fit: cover;  /* 공간 꽉 채움 */
  border-radius: 0.5rem;
}

.card-text {
  grid-area: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* 모바일 (모든 카드 이미지 위, 텍스트 아래) */
/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
  .card-row,
  .card-row.alt {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "text";
  }
   .card-img { width:100%; height:auto;}
}

/* mobile query up for screens up to ~576px wide */
@media screen and (max-width: 576px) {

 
  
}