

.h2{
  border-bottom: none !important;
}
.h3{
  font-family: "Inter" !important;
  margin-top: 0.25rem !important;
  line-height: 1.25em !important;
  letter-spacing: -0.05rem !important;
}

.topic-box {
  background-color: #f7f7f7; /* 첫 번째 영역 배경색 */
  margin-bottom: 1.5em;        /* 박스 간 간격 */
  border-radius: 0.5rem; /* 모서리 둥글기 (px 단위, 원하는 값으로 조정 가능) */
  padding: 2em 6em 2em 3em !important;
}

.history-list ul {
  margin-top: 0.5em;       /* 리스트 위 공간 조절 */
}

.history-list ul li {
  margin-bottom: 1.1em;
}

.section-chip {
  display: inline-block;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  background-color: #f7f7f7;
  color: #343140;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.5em;
}
  
}


/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
  .topic-box {
    padding: 1em 1em 1em 1em !important;
  }
  
}

/* mobile query up for screens up to ~576px wide */
@media screen and (max-width: 576px) {

 
  
}