body {
  overflow-x: hidden;
}

.quarto-about-jolla{
  max-width: 100% !important;
}

/* title */
.title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1em !important;
}

/* subtitle + Learn More About Me */
.subtitle {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


#hero-heading {
  width: 90%;      /* 원하는 너비(px, %, em 가능) */
  max-width: 38rem;
  margin: 0 auto;     /* 가운데 정렬 */
  text-align: center;
}

#title-block-header {
  text-align: center;
}
.about-image, #hero-heading img {
  background-color: #f1f2f6; /* 원하는 색상으로 수정 */

}


/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
  #hero-heading {
    width: 95%;       /* 작은 화면에서는 거의 전체 너비 */
    padding: 0 1rem;  /* 좌우 여백 확보 */
  }

}

/* mobile query up for screens up to ~576px wide */
@media screen and (max-width: 576px) {

 
  
}