/* title */
#title-block-header {
  margin-bottom: 0px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1em !important;
}


/* column-page 영역의 최대 너비 해제 및 전체 확장 */
.quarto-about-broadside .about-main .about-entity {
  background-size: contain;
  max-width: none !important;
  width: 80% !important;
  margin-right: 3rem !important;
  margin-bottom: 1rem !important;
}

.quarto-about-broadside .about-main .about-contents {
  color: #002c59 !important;
  margin-top: 2rem !important;
}