/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

//Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $font-family-serif: "Petrona", serif,;
$headings-font-weight: 400;

$font-family-monospace:      "Dank Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$headings-font-family:       "Inter";



.navbar {
  font-family: 'Inter';
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.navbar-brand {
  font-family: 'Inter';
  font-size: 1rem !important;  /* 원하는 크기로 */
  font-weight: bold;
  text-transform: uppercase; /* 대문자 안 바꾸려면 */
  letter-spacing: 0.05em;
  color: #000C49 !important;
  
}

.nav-link{
  color: #343A40 !important;
}

/* underline 애니메이션 */
.nav-link .menu-text {
  position: relative;
  transition: color 0.2s;
}

/* hover시 밑줄 */
.nav-link .menu-text::after {
  content: "";
  position: absolute;
  left: 0; bottom: -2px;
  width: 0;
  height: 1px;
  background: #343A40;  /* 원하는 색상으로 */
  transition: width 0.3s cubic-bezier(0.4,0,0.2,1);
}

/* hover일 때 underline 애니메이션 */
.nav-link:hover .menu-text::after,
.nav-link:focus .menu-text::after {
  width: 100%;
  height: 1px;
}

/* 현재(Active) 메뉴에 항상 underline */
.nav-link.active .menu-text::after {
  width: 100%;
}


/* page-footer 내 링크 기본 스타일 */
.nav-footer {
  background-color: transparent !important;
}



.nav-footer a {
  color: inherit; /* 기본 색상 유지 */
  transition: color 0.3s ease;
}

/* hover 시 텍스트 색상 변경 */
.nav-footer a:hover {
  color: #1f4eb6cc; /* 원하는 hover 색상으로 변경 */
}



.about-entity {
  flex: 1;               /* 좌측 영역 너비: 기존 1 비율 */
  max-width: 30%;        /* 최대 너비 제한 */
}

.about-contents {
  flex: 2;               /* 우측 영역 너비: 좌측보다 2배 넓게 */
  max-width: 70%;
}
