/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap');


//Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif: "Red Hat Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $font-family-serif: "Petrona", serif,;
$headings-font-weight: 400;

$font-family-monospace:      "Dank Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$headings-font-family:       "Red Hat Text";



.navbar {
  font-family: 'Red Hat Text';
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.navbar-brand {
  font-family: 'Red Hat Text';
  font-size: 1rem !important;  /* 원하는 크기로 */
  font-weight: bold;
  text-transform: uppercase; /* 대문자 안 바꾸려면 */
  letter-spacing: 0.05em;
  color: #000C49 !important;
  
}

.nav-link.active .menu-text {
  text-decoration: underline !important;
}


/* page-footer 내 링크 기본 스타일 */
.nav-footer {
  background-color: transparent !important;
}



.nav-footer a {
  color: inherit; /* 기본 색상 유지 */
  transition: color 0.3s ease;
}

/* hover 시 텍스트 색상 변경 */
.nav-footer a:hover {
  color: #1f4eb6cc; /* 원하는 hover 색상으로 변경 */
}



.about-entity {
  flex: 1;               /* 좌측 영역 너비: 기존 1 비율 */
  max-width: 30%;        /* 최대 너비 제한 */
}

.about-contents {
  flex: 2;               /* 우측 영역 너비: 좌측보다 2배 넓게 */
  max-width: 70%;
}
