/*-- scss:defaults --*/

//Fonts

// stylelint-disable-next-line value-keyword-case
$font-family-sans-serif:     "Red Hat Text", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $font-family-serif: "Petrona", serif,;
$headings-font-weight:       400;

$font-family-monospace:      "Dank Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$headings-font-family:       "Petrona";
