
.h2{
  border-bottom: none !important;
}
.h3{
  font-family: "Inter" !important;
  margin-top: 0.25rem !important;
  line-height: 1.25em !important;
  letter-spacing: -0.05rem !important;
}


.topic-box {
  background-color: #f7f7f7; /* 첫 번째 영역 배경색 */
  margin-bottom: 1.5em;        /* 박스 간 간격 */
  border-radius: 0.5rem; /* 모서리 둥글기 (px 단위, 원하는 값으로 조정 가능) */
  padding: 2em 8em 2em 4em !important;
}

.btn-container {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  margin-top: 2rem;        /* 위쪽 여백 (필요시 조절) */
}

.btn-container a.btn-custom {
  font-family: "Inter";
  font-weight: 600;
  font-size: 1.1rem;
  padding: 0.5em 1.2em;
  border-radius: 0.25rem;
  background-color: #343A40; /* 원하는 배경색 */
  color: white;             /* 글자색 */
  border: none;
}


.btn-container a.btn-custom:hover {
  opacity: 0.8; /* 호버 시 색상 */
}


/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
  .topic-box {
    padding: 1em 2em 1em 2em !important;
  }
  
}

/* mobile query up for screens up to ~576px wide */
@media screen and (max-width: 576px) {

 
  
}