/* title and subtitle */
#title-block-header {
  margin-bottom: 0px;
}

.title{
  font-size: 2rem !important;
  font-weight: 300 !important;
  line-height: 1.2em !important;
  letter-spacing: -0.025em !important;
}

.h1{
  font-size: 3rem !important;
  font-weight: 300 !important;
  line-height: 1em !important;
  letter-spacing: -0.05em !important;
}
  
.h2{
  font-size: 2.25rem !important;
  font-weight: 300 !important;
  line-height: 1em !important;
  letter-spacing: -0.05em !important;
}
  
  

/* see all links */
.about-links.subtitle {
  font-family: "Red Hat Text"
}

/* social links: block of links */
.about-entity .about-links {
  justify-content: center !important;
  column-gap: 0em !important;
  font-size: 1.2em !important;
}

/* social links: individual links */
.about-entity .about-link {
  padding: 0.25em 0.25em !important;
  border: none !important;  
}


/* about area */
.about-entity {
  background-color: #eef2f7;
  padding: 3em 0em 3em 0em !important;
  margin: 0em 2em 0em 2em;
  border-radius: 5px;
  flex: 1 1 0 !important;
}

#about-me-1 {
  background-color: #F2F7EF; /* 첫 번째 영역 배경색 */
  margin: 0em 0.5em 0em 0em;
}

#about-me-2 {
  background-color: #EFF3F7; /* 두 번째 영역 배경색 */
  margin: 0em 0.25em 0em 0.25em;
}

#about-me-3 {
  background-color: #F4EFF7; /* 세 번째 영역 배경색 */
  margin: 0em 0em 0em 0.5em;
}

#about-me-1,
#about-me-2,
#about-me-3 {
  border: 1px solid; /* 테두리 두께와 기본 선 스타일 */
  border-radius: 0.5rem; /* 모서리 둥글기 (px 단위, 원하는 값으로 조정 가능) */
  border-color: #CDD8E1;
  padding: 2em 2em 2em 2em !important;
}


/* mobile query up for screens up to ~992px wide */
@media screen and (max-width: 991.98px) {
  /* wrap lately section */
  #lately .grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* listings */
  #blog, #talks, #publications, #projects {
    flex-basis: 40% !important;
    flex-grow: 1;
  }

  /* social links: block of links */
  .about-entity .about-links {
    font-size: 1.2em !important;
  }
}

/* mobile query up for screens up to ~576px wide */
@media screen and (max-width: 576px) {

  /* wrap about me section */
  #about-me .grid {
    display: flex;
    flex-wrap: wrap;
  }

  /* wrap lately section */
  #lately .grid {
    display: flex;
    flex-wrap: wrap;
  }

  /* listings */
  #blog, #talks, #publications, #projects {
    flex-basis: 100% !important;
  }

  /* social links: block of links */
  .about-entity .about-links {
    font-size: 1em !important;
  }

  /* about area */
  .about-entity {
    margin: 0em 0em 0em 0em;
  }
}